@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=Varela+Round&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

:root {
    --primary-color: #c0d8bd;
    --secondary-color: #cea284;
    --text-color: #301e15;


    --error-color: #c24949;
    --edit-color: #e3c675;
    --success-color: #74db82;
}

html,
.body {
    height: 100%;
}

.body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: "Varela Round", sans-serif;
    color: var(--text-color);
}

.header {
    width: 100%;
    height: auto;
    padding: 2em 8%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 10vw;
    anchor-name: --header;
    background-color: var(--primary-color);
    border-bottom: 10px solid var(--secondary-color);

    .logo-container {
        width: 15vw;
    }

    .logo-container img {
        width: 100%;
        object-fit: contain;
    }

    button {
        background: transparent;
        border: none;
    }

}

.nav {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-evenly;
    gap: 2rem;

    .responsive-menu {
        width: 100%;
    }

    input {
        width: 100%;
        outline: none;
        padding: .8rem;
        border: none;
        font-size: 1.2rem;
        font-weight: bold;
        border-radius: 2rem;
    }

    i {
        display: none;
    }

    ul li {
        display: inline-block;
        font-size: 1.7rem;
        font-weight: bold;
        margin: 0rem 1.5rem;
    }

    a {
        text-decoration: none;
        color: black;
    }
}

.sidebar {
    position: fixed;
    top: 0;
    right: 0;
    left: auto;
    height: 100vh;
    object-fit: contain;
    border: none;
    background-color: var(--secondary-color);
    box-shadow: -4px 10px 4px #301e156c;

    ul {
        width: 100%;
        height: 100%;
        padding: 1.2rem;
        list-style: none;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        gap: 10rem;
        font-size: 1.2rem;
    }

    ul li a {
        color: var(--text-color);
        text-decoration: none;
        margin: 0 .7rem;
        transition: .3s ease;
    }

    ul li a:hover {
        text-decoration: underline;
    }

}

.main {
    width: 100%;
    padding: 3vw 6%;
    flex-grow: 1;
}

.section {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-self: center;
    justify-content: center;
    gap: 2rem;

    .card {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        gap: 1.2rem;
    }

    .menu-nav {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 2rem;
        margin: 1.2rem 0rem;
    }

    .menu-nav i {
        font-size: 2.4rem;
        /* color: var(--secondary-color); */
    }

    .menu-nav span {
        width: 100%;
        height: 2px;
        background-color: var(--secondary-color);
    }
}

.drinks,
.foods {
    min-width: 10%;
    flex: 0 0 250px;
    padding: 1rem;
    border: 2px solid var(--secondary-color);
    border-radius: 1.2rem;
    display: flex;
    flex-direction: column;
    gap: .5rem;
    box-shadow: 2px 2px 6px var(--secondary-color);
    cursor: pointer;
    transition: .3s ease;

    .fi-sr-circle-xmark {
        display: flex;
        align-self: flex-end;
        font-size: 1.2rem;
        color: var(--error-color);
    }

    img {
        width: 100%;
        min-height: 12rem;
    }

    span {
        margin-top: auto;
        font-size: 1.2rem;
        font-weight: bold;
    }

    &:hover {
        transform: scale(1.03);
        /* filter: brightness(130%); */
    }
}

.footer {
    width: 100%;
    padding: 2vw 10vw;
    background-color: var(--secondary-color);
}

@media (max-width: 1000px) {
    .header {
        .logo-container {
            width: 50%;
        }

        .nav {
            width: 100%;

            ul li {
                margin: 0 .3rem;
            }

            a {
                font-size: 1.6rem;
            }
        }
    }
}

@media (max-width: 600px) {
    .header {
        flex-direction: column;

        .logo-container {
            width: 70%;
        }

        .nav {
            align-items: center;
            justify-content: center;

            ul {
                display: none;
            }

            .responsive-menu {
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                gap: 1rem;

                i {
                    font-size: 1.5rem;
                    display: flex;
                }
            }
        }
    }
}