<head>
    <link rel="stylesheet"
        href='https://cdn-uicons.flaticon.com/4.0.0/uicons-solid-rounded/css/uicons-solid-rounded.css'>
    <link rel='stylesheet' href='https://cdn-uicons.flaticon.com/4.0.0/uicons-brands/css/uicons-brands.css'>
</head>

<nav class="about">
    <div class="brand">
        <img src="/frontend/img/logo/mascot.png" alt="panda da koppii">
        <span>Koppii</span>
    </div>

    <p>
        Experiência inspirada na tradição coreana, a Koppii nasceu para oferecer uma experiência única, combinando
        sabores autênticos, qualidade e aconchego. Mais do que uma cafeteria, somos um espaço para compartilhar
        momentos e descobrir novos sabores, com bebidas artesanais e um ambiente acolhedor para
        transformar cada pausa em uma experiência especial. 감사합니다 (Obrigado por nos visitar!).
    </p>
</nav>

<nav class="info">

    <div class="contact">
        <h2>Contato</h2>

        <ul>
            <li>
                <a href="https://maps.app.goo.gl/KvWb3WzQBwRZL6nG8">
                    <i class="fi fi-sr-marker"></i>
                    <p>R. Paineiras, 1300 - Eldorado, Contagem MG. 32310-400</p>
                </a>
            </li>
            <li>
                <a href="https://wa.me/3130489800">
                    <i class="fi fi-sr-phone-pause"></i>
                    <p>0800 724 4440</p>
                </a>
            </li>

            <li>
                <a href="https://wa.me/3130489800">
                    <i class="fi fi-sr-circle-phone"></i>
                    <p>+82-10-1234-5678.</p>
                </a>
            </li>
        </ul>
    </div>

    <div class="social">
        <h2>Sigam nossas redes sociais</h2>
        <ul>
            <li>
                <a href="">
                    <i class="fi fi-brands-tik-tok"></i>
                    <p>Tik Tok</p>
                </a>
            </li>
            <li>
                <a href="">
                    <i class="fi fi-brands-facebook"></i>
                    <p>Facebook</p>
                </a>
            </li>
            <li>
                <a href="">
                    <i class="fi fi-brands-instagram-circle"></i>
                    <p>Instagram</p>
                </a>
            </li>
        </ul>
    </div>
</nav>